$yellow: #faed26;
$dark-purple: #46344e;
$grey: #5a5560;
.menu-bar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 96px;
    border-bottom: 2px solid $dark-purple;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.scroll {
    transition: 0.5s;
    background-color: #46344e;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 96px;
}

.scroll button.account-circle {
    transition: 0.5s;
    color: white;
    border: 0px;
}

button.account-circle {
    color: $dark-purple;
    text-align: right;
    border: 1px;
    margin-top: -7.5px;
    padding: 15px;
    margin-right: 10px;
    font-size: 15pt;
    font-weight: 500;
    border-radius: 5px;
    background-color: white;
}

.logo-container {
    height: 96px;
}

.logo-container img {
    height: 100%;
}

.menu-container {
    float: right;
    font-size: 15pt;
}

.navigation {
    grid-column-start: 1;
    grid-column-end: 5;
}

.navigation ul {
    list-style-type: none;
    float: right;
}

.navigation li {
    float: left;
}

button.main-menu {
    padding: 15px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid $dark-purple;
    color: $dark-purple;
    font-size: 15pt;
    font-weight: 500;
    border-radius: 5px;
}

.scroll button {
    transition: 0.5s;
    background-color: $dark-purple;
    border: 1px solid white;
    color: white;
}

.login-button {
    background-color: $dark-purple;
    color: white;
    padding: 13px;
    font-size: 13pt;
    border: 0;
    width: calc(100% - 10px);
    margin-left: 5px;
    border-radius: 5px;
}

.item-container p {
    color: $grey;
    font-size: 9pt;
    margin: 0 15px;
    margin-top: 10px;
}

.mat-menu-panel-override {
    max-width: 1000px !important;
}

.username-container {
    position: relative;
    top: -8px;
    margin-left: 5px;
}

//TODO
button.account-circle:focus {
    outline: none;
}