<div id="container" class="menu-bar" (scroll)="onWindowScroll($event)">
    <div *ngIf="scrolled" class="logo-container">
        <img [routerLink]="['/']" src="../../../assets/hw-white-transp.png">
    </div>

    <div *ngIf="!scrolled" class="logo-container">
        <img [routerLink]="['/']" src="../../../assets/hw-purple-transp.png">
    </div>

    <div></div>
    <!--//TODO: Efekt za ::after da se donji border puni s jedne strane na drugu-->
    <div class="menu-container">
        <nav class="navigation">
            <ul>
                <li *ngFor="let cat of categories" class="main-menu">
                    <button [routerLink]="['/category', cat._id]" class="main-menu">{{cat.name}}</button>
                </li>
                <li>
                    <button [matMenuTriggerFor]="userAccountMenu" class="account-circle">
                        <fa-icon [icon]="faUserCircle" size="2x"></fa-icon>
                        <!--<span *ngIf="getUsername()">{{getUsername()}}</span>-->
                        <span class="username-container">{{getUsername()}}</span>
                    </button>
                    <mat-menu id="menu" #userAccountMenu="matMenu" xPosition="before">
                        <div *ngIf="!isLoggedIn()" class="item-container">
                            <button [routerLink]="['/authenticate']" [queryParams]="{type: 'login'}" class="login-button">Login</button>
                            <p>Don't have account? Sign up <a [routerLink]="['/authenticate']" [queryParams]="{type: 'register'}" href="#">here!</a></p>
                        </div>
                        <div *ngIf="isLoggedIn()" class="item-container">
                            <button [routerLink]="['/profile', userId]" mat-menu-item>My profile</button>
                            <button *ngIf="isEditor()" [routerLink]="['/editor']" mat-menu-item>New article</button>
                            <button *ngIf="isAdmin()" [routerLink]="['/administration']" mat-menu-item>Admin panel</button>
                            <button [routerLink]="['/']" (click)="logout()" mat-menu-item>Logout</button>
                        </div>
                    </mat-menu>
                </li>
            </ul>
        </nav>
    </div>
</div>