<!-- //TODO: U modalu preview articla-->

<form [formGroup]="articleForm" class="article-input-form" (ngSubmit)="onSubmit()">
    <h1>New article:</h1>
    <mat-form-field>
        <input formControlName="title" matInput placeholder="Title">
    </mat-form-field>

    <mat-form-field>
        <textarea formControlName="shortDesc" class="short-desc" matInput placeholder="Short description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea formControlName="fullArticle" class="full-article" matInput placeholder="Article"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="category" placeholder="Category">
            <mat-option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="form-group">
        <label for="img-uplad">Choose article image:</label><br>
        <hr>
        <input formControlName="img" type="file" id="img-uplad" (change)="onFileSelect($event)">
    </div>

    <div class="button-container">
        <button>Preview</button>
        <button type="submit">Publish</button>
    </div>
</form>