<div class="container">
    <div class="logo-container">
        <img src="../../../assets/hw-purple-transp.png">
    </div>
    <div class="authentication-container">
        <div *ngIf="type === 'login'" class="login">
            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input formControlName="email" matInput placeholder="E-Mail">
                    <mat-icon matSuffix>mail_outline</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Password">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>

                <button type="submit">Login</button>
                <p>Don't have account? <a (click)="changeType()">Click here!</a></p>
            </form>
        </div>

        <div [formGroup]="registerForm" *ngIf="type === 'register'" class="register">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput placeholder="Username">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input formControlName="email" matInput placeholder="E-Mail">
                <mat-icon matSuffix>mail_outline</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="Password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Repeat password</mat-label>
                <input formControlName="repeatedPassword" matInput placeholder="Repeat password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button (click)="submitRegister()">Register</button>
            <p>Already have account? <a (click)="changeType()">Click here!</a></p>
        </div>
    </div>
</div>